* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

button:disabled {
  cursor: no-drop;
}

.button-container,
.btn-range-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.random-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.button-container button,
button {
  font-size: 30px;
}

.btn-range-container button {
  font-size: 20px;
}

.spin-button {
  font-size: 100px;
}

.video-container {
  width: 90vw;
  max-width: calc(100vh * (16 / 9));
  height: calc(90vw * (9 / 16));
}

iframe {
  width: 100%;
  height: 100%;
}
